@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 18px;

  @media only screen and (max-width: 1000px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 13px;
  }
}

h1 {
  font-size: 1.85em;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 1.55em;
  line-height: 1;
  color: #F1CA1A;
}

h3 {
  font-size: 1.45em;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 15px;

  & + p {
    margin-top: 0;
  }
}

h4 {
  color: #ddd;
}

p {
  margin: .65em 0;
}

strong {
  font-weight: 600;
  color: #ccc;
}

.font-digit {
  font-family: 'Inconsolata', monospace;
}
