*, *:after, *:before {
  box-sizing: border-box;
}

button {
  color: #777;
  border-radius: 5px;
  border: 2px solid #555;
  background-color: #111;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: darken(#00adff, 15%);
  }

  &:active {
    &:hover {
      color: #111;
      border-color: #00adff;
      background-color: #00adff;
    }
  }
}

a.link-white {
  &:hover {
    border-color: #eee;
  }

  &:active {
    color: #111;
    background-color: #eee;
  }
}

#__nuxt {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  padding: 0;
}

#__layout {
  position: relative;

  > div {
    padding-top: 120px;
    padding-bottom: 160px;
    min-height: 100vh;
    position: relative;

    > footer {
      position: absolute;
      bottom: 0;
      width: 240px;
      padding: 20px 10px;
      left: calc(50% - 120px);
      margin: 0 auto 0;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: #eee;

      a {
        padding: 2px 6px;
        color: inherit;
        font-weight: 800;
      }

      > p {
        text-shadow: 0 0 3px rgba(#fff, .45), 0 0 5px rgba(#fff, .45);
        margin: 5px 0;
      }
    }
  }
}

.youtube-widget {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  max-height: 500px;
}

.page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.page-row {
  flex: 1 0 auto;

  > .box {
    background-color: #151515;
    padding: 30px;

    > header {
      overflow: hidden;
      padding-bottom: 60px;
      margin-bottom: 60px;
      border-bottom: 2px solid #222;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      > h1 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      > h2 {
        margin-top: 10px;
        margin-bottom: 30px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  > * {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;

    position: relative;
  }

  @media only screen and (max-width: 1480px) {

  }

  @media only screen and (max-width: 1280px) {

  }
}

.header-box {
  position: fixed;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(#060606, .95);

  &::before {
    content: ' ';
    position: absolute;
    background-image: url('~assets/textures/brushed-alum.png');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    transition: all 100ms ease-in-out;
    z-index: 0;
  }

  > nav {
    height: 100%;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 27px 0;
    border-radius: 0;
    transition: box-shadow 100ms ease-in-out;

    .menu-btn {
      padding: 12px;
    }

    > a {
      line-height: 18px;
      height: 46px;
      padding: 12px 20px 12px 10px;
      border: none;
      border-radius: 0;
      color: #ccc;
      background-color: #000;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 10px 0 0;
      align-items: center;
      font-size: 12px;
      display: flex;
      flex-direction: row;
      z-index: 1;
      outline: none;
      flex: 0 0 auto;

      > i {
        font-size: 22px;
        font-weight: 300;
        width: 26px;
      }

      > span {
        margin-left: 10px;
      }

      &:hover {
        background-color: #005c8c;
      }

      &.active {
        color: #fff;
        background-color: #009ae5;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;
        box-shadow: 0 0 9px 1px rgba(#009ae5, .6);
        z-index: 2;

        > i {
          color: #fff;
          text-shadow: 0 0 3px #33adff;
        }
      }
    }

    > .mob-icon {
      display: none;
      position: absolute;
      right: 0;
      margin: 0;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1050px) {
    width: auto;
    height: auto;
    padding: 0 15px;
    left: 0;
    top: 0;
    right: 0;

    > nav {
      height: 100px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      transform: translateY(0) !important;
      padding-right: 90px;
      transition: height 200ms ease-in-out;

      > a:not(.active) {
        display: none;
      }

      &.expand {
        height: 544px;

        > a {
          display: flex;
        }
      }

      > a {
        margin: 0 0 10px;
      }

      > .mob-icon {
        display: flex !important;
      }
    }
  }
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  > .column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 50%;
    padding-right: 1px;
    min-width: 340px;

    &:last-child {
      padding-right: 0;
      padding-left: 1px;
    }

    > article {
      flex: 1 0 auto;
      margin: 0 0 2px;
      background-color: #1c1a20;
      border-radius: 0;
      padding: 20px 15px;
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        background-image: url('~assets/textures/brushed-alum.png');
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
        transition: all 100ms ease-in-out;
        z-index: 0;
      }

      > h3 {
        font-family: 'Inconsolata', monospace;
        margin: 0 0 20px;
        padding: 7px 9px;
        border-radius: 3px;
        font-size: 16px;
        background-color: #333;
        display: inline-block;
      }
    }
  }
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
