*, *:after, *:before {
  box-sizing: border-box;
}

ol {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;

  > li {
    &::before {
      content: 'keyboard_arrow_right';
      font-family: 'Material Icons';
      font-size: 18px;
      vertical-align: middle;
    }

    > a {
      display: inline-block;
    }
  }
}

button, .button {
  color: #aaa;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #000;
  line-height: 16px;
  padding: 10px 22px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all .1s linear;

  &:hover {
    border-color: #eee;
    color: #eee;
    text-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 8px rgba(#fff, .2);
  }

  &:active {
    &:hover {
      box-shadow: 0 0 10px 1px rgba(#fff, .45);
      background-color: #eee;
      color: #000;
    }
  }

  &:disabled, &.disabled {
    opacity: .25;
    cursor: default;
    text-shadow: none !important;
    box-shadow: none !important;
    color: #aaa !important;
    border-color: #999 !important;
    background-color: #000 !important;
    pointer-events: none;
  }
}

.field {
  display: block;
  line-height: 16px;
  font-size: .9em;

  &.inline {
    display: flex;
    align-items: center;

    > span {
      margin-right: 10px;
    }

    > input {
      flex: 1 1 auto;
      min-width: 120px;
    }
  }

  > span {
    display: block;
    font-weight: 600;
    padding: 10px 0;
  }

  > span.icon {
    margin-right: -20px;
    width: 20px;
    left: 10px;
    position: relative;
    z-index: 2;
    color: #888;

    & + input {
      padding-left: 30px;
    }
  }

  > input {
    font-weight: 600;
    font-size: inherit;
    line-height: inherit;
    padding: 10px;
    border-radius: 5px;
    background-color: #2f2f2f;
    border: 1px solid transparent;
    outline: none;
    color: #eee;

    &:focus {
      border-color: #eee;
      box-shadow: 0 0 8px rgba(#fff, .2);
    }
  }
}

form.inline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  > .field {
    flex: 1 0 auto;
    margin-right: 10px;
  }

  @media only screen and (max-width: 600px) {
    align-items: center;
    flex-direction: column;

    > .field {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.thin {
  font-size: .9em;
  font-weight: 300;
}

#__nuxt {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
}

#__layout {
  position: relative;

  > div {
    padding-top: 120px;
    padding-bottom: 160px;
    min-height: 100vh;
    position: relative;

    > footer {
      position: absolute;
      bottom: 0;
      width: 240px;
      padding: 20px 10px;
      left: calc(50% - 120px);
      margin: 0 auto 0;
      text-align: center;
      font-size: .75em;
      font-weight: 400;
      color: #eee;

      a {
        padding: 2px 6px;
        font-weight: 700;
        background-color: transparent;

        &:hover {
          background-color: rgba(#fff, .15);
        }

        &:active {
          background-color: #fff;
        }
      }

      > p {
        text-shadow: 0 0 3px rgba(#fff, .45), 0 1px 5px rgba(#fff, .45);
        margin: 5px 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    > div {
      > footer {
        font-size: 1em;
      }
    }
  }
}

.youtube-widget {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  max-height: 500px;
}

.page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.page-row {
  flex: 1 0 auto;

  > .box {
    background-color: #151515aa;
    border: 1px solid #fff1;
    padding: 45px 55px;
    position: relative;

    &.split {
      border-top: 2px solid #fff2;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    > header {
      padding-bottom: 60px;
      margin-bottom: 60px;
      border-bottom: 2px solid #fff2;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      > h1 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      > h2 {
        margin-top: 10px;
        margin-bottom: 30px;
      }

      & + .pagination {
        margin-top: -60px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  > * {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
  }

  @media only screen and (max-width: 1000px) {
    > .box {
      padding: 20px 15px;

      > header {
        padding-bottom: 45px;
        margin-bottom: 45px;

        & + .pagination {
          margin-top: -45px;
        }
      }
    }

    > * {
      padding: 0 15px;
    }
  }
}

.header-box {
  position: fixed;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 15px;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(#0a0a0a, .95);

  &::before {
    content: ' ';
    position: absolute;
    background-image: url('~assets/textures/brushed-alum.png');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .12;
    transition: all 100ms ease-in-out;
    z-index: 0;
  }

  > nav {
    height: 100%;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 27px 0;
    border-radius: 0;
    transition: box-shadow 100ms ease-in-out;

    .menu-btn {
      padding: 12px;
    }

    > a {
      line-height: 18px;
      height: 46px;
      padding: 12px 20px 12px 10px;
      border: none;
      border-radius: 0;
      color: #ccc;
      background-color: #000;
      font-weight: 300;
      font-size: .82em;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 10px 0 0;
      align-items: center;
      display: flex;
      flex-direction: row;
      z-index: 1;
      outline: none;
      flex: 0 0 auto;

      > i {
        font-size: 22px;
        font-weight: 300;
        width: 26px;
      }

      > span {
        margin-left: 10px;
      }

      &:hover {
        background-color: #005c8c;
      }

      &.active {
        color: #fff;
        background-color: #009ae5;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;
        box-shadow: 0 0 9px 1px rgba(#009ae5, .6);
        z-index: 2;

        > i {
          color: #fff;
          text-shadow: 0 0 3px #33adff;
        }
      }
    }

    > .mob-icon {
      display: none;
      position: absolute;
      right: 0;
      margin: 0;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;

    > nav {
      height: 100px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      transform: translateY(0) !important;
      padding-right: 90px;
      transition: height 200ms ease-in-out;

      > a:not(.active) {
        display: none;
      }

      &.expand {
        height: 544px;

        > a {
          display: flex;
        }
      }

      > a {
        margin: 0 0 10px;
      }

      > .mob-icon {
        display: flex !important;
      }
    }
  }
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;

  > .column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 50%;
    padding-right: 2px;

    &:last-child {
      padding-right: 0;
      padding-left: 2px;
    }

    > article {
      flex: 1 0 auto;
      margin: 0 0 4px;
      border: 1px solid #fff2;
      background-color: #0009;
      border-radius: 0;
      padding: 15px;
      position: relative;
      cursor: default;
      transition: all 200ms ease-in-out;
      min-width: 280px;

      a.action {
        border: 1px solid transparent;

        &:active {
          background-color: #1DA1F2;
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    > .column {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.ta-center {
  text-align: center;
}

.video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  font-weight: bold;
  text-shadow: 0 0 6px rgba(#fff, .38);
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 26px;

  > a {
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
  }
}

article {
  > h4 {
    margin-bottom: 0;

    & + .foot-note {
      margin-top: .65em;
    }
  }

  > .thin {
    margin-top: 60px;
  }

  > img {
    display: block;
    margin: 15px auto;
    max-width: 800px;
    border: 10px solid #222;
  }
}

blockquote {
  margin: .65em 0;
  color: #ddd;
  font-size: .9em;
}

.foot-note {
  font-size: .9em;
  padding: 0 20px;
  border: 2px solid #252525;
  background-color: #151515aa;
  margin: .65em 0;

  > h4 {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-bottom: 1.33em;
  }
}
