@import "normalize";
@import "fonts";
@import "scrollbar";
@import "layout";

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 18px;
  overflow-y: scroll;
}

html, body {
  color: #bbb;
}

@keyframes shifting {
  0% {
    background-position: 0 0;
  }

  100% {

    background-position: 0 202px;
  }
}

body {
  background-color: #000;
  position: relative;

  &::before {
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('~assets/textures/hexellence.png');
    background-size: 175px 202px;
    background-attachment: fixed;
    background-position: inherit;
    content: ' ';
    opacity: .8;
    position: absolute;
    z-index: 0;
  }
}

a {
  font-size: .87em;
  font-weight: 500;
  color: #963dc5;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 10px;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border-color: #963dc5;
  }

  &:active {
    color: #111;
    background-color: #963dc5;
  }
}

.icon-link {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: .78em;
  color: #888;
  text-align: center;
  margin: 5px;

  &:hover {
    background-color: transparent;
    box-shadow: 0 3px 23px rgba(#009ae5, .58), 0 0 5px 1px rgba(#009ae5, .3);
    color: #fff;
    border-color: transparent;
  }

  > img {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  &.big {
    min-width: 140px;
    max-width: 160px;
    white-space: nowrap;
    font-weight: 700;

    > span {
      margin-top: 15px;
    }
  }

  &.youtube {
    width: 132px;
    padding-bottom: 25px;
    border-radius: 63px;
    border: 1px solid #333;
    margin: 10px 15px;
    background-color: rgba(#333, .3);
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #009ae5;
      background-color: rgba(#009ae5, .15);
    }

    > * {
      position: relative;
    }

    > img {
      width: 100px;
      margin: 0 auto;
      border-radius: 50px;
    }

    > span {
      margin-top: 20px;
      font-weight: 400;
    }
  }

  &.box {
    border: 1px solid #333;
    background-color: rgba(#333, .3);

    &:hover {
      border-color: #009ae5;
      background-color: rgba(#009ae5, .1);
    }
  }
}

h1 {
  font-size: 2.25em;
  text-transform: uppercase;
  color: rgba(#fff, .7)

}

h2 {
  font-size: 1.65em;
  color: #F1CA1A;
}

h3 {
  font-weight: 700;
}

.banner {
  min-height: calc(100vh - 210px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width: 600px) {
   font-size: 12px;
  }
}

.temp-content {
  padding: 0 30px;
  text-align: center;

  > div {
    padding: 15px 0 30px;
    background-color: rgba(#000, .6);
    box-shadow: 0 0 5px rgba(#444, .2), 0 8px 23px rgba(#444, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
}
