@import "normalize";
@import "fonts";
@import "scrollbar";
@import "layout";

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: scroll;
}

html, body {
  color: #bbb;
}

body {
  //background-color: #190d26;
  background-color: #020005;
  //background-color: #050308;
  position: relative;

  &::before {
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('~assets/textures/white-diamond.png');
    background-attachment: fixed;
    background-position: inherit;
    content: ' ';
    opacity: .8;
    position: absolute;
    z-index: 0;
  }

  @media only screen and (max-width: 600px) {
    background-position: 0 0 !important;

    &::before {
      background-attachment: initial;
      background-position: initial;
      position: fixed;
    }
  }
}

a {
  font-size: .87em;
  font-weight: 500;
  color: #963dc5;
  text-decoration: none;
  border-radius: 20px;
  padding: 6px 10px;
  transition-property: background-color, border, box-shadow, color, transform, text-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;

  & + a {
    margin-top: 10px;
  }

  &:hover {
    border-color: #963dc5;
  }

  &:active {
    color: #111;
    background-color: #963dc5;
  }
}

a.action {
  border: none;
  border-radius: 0;
  color: inherit;

  &:hover {
    color: #fff;
    text-shadow: 0 1px 7px #888;
    background-color: rgba(#fff, .15);
  }

  &:active {
    background-color: #009ae5;
  }
}

a.link-icon {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 0;
  font-size: .78em;
  color: #6a6a6a;
  text-align: center;
  margin: 5px;
  background-color: #252525;
  box-shadow: 0 0 0 rgba(#009ae5, .58), 0 0 0 0 #009ae5;

  &:hover {
    background-color: #142734;
    box-shadow: 0 5px 23px rgba(#009ae5, .58), 0 0 2px 1px #009ae5;
    color: #fff;
    border-color: transparent;
  }

  > .img-c {
    display: flex;
    align-items: center;

    > img {
      width: 100%;
    }
  }

  > img {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  &.large {
    min-width: 140px;
    max-width: 160px;
    white-space: nowrap;

    > span {
      margin-top: 15px;
    }
  }

  &.x-large {
    width: 214px;
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
    padding: 12px 12px 75px;
    border-radius: 120px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    align-items: center;

    > img {
      width: 100%;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    strong {
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 5px;
      font-size: 14px;
      letter-spacing: 1px;
      white-space: nowrap;
      font-family: 'Inconsolata', monospace;
    }
  }

  &.youtube {
    width: 132px;
    border-radius: 63px;
    border: none;
    margin: 10px 15px;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 35px;

    > * {
      position: relative;
    }

    > .img-c {
      width: 110px;
      height: 110px;
    }

    > img {
      width: 110px;
      margin: 0 auto;
      border-radius: 54px;
    }

    > span {
      margin-top: 20px;
      font-weight: 400;
    }
  }
}

.cookie-popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #000000;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    margin: 0;
  }

  > button {
    padding: 10px;
    margin-left: 20px;
  }
}
