@import "fonts";
@import "normalize";

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 18px;
  padding: 30px 0;
}

html, body {
  color: #aaa;
}

@keyframes shifting {
  0% {
    background-position: 0 0;
  }

  100% {

    background-position: 0 202px;
  }
}

body {
  background-color: #000;
  position: relative;

  &::before {
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('~assets/textures/hexellence.png');
    background-size: 175px 202px;
    background-attachment: fixed;
    content: ' ';
    opacity: .8;
    position: absolute;
    z-index: 0;
    animation: shifting infinite 180s linear;
  }

  > div {
    position: relative;
  }
}

a {
  font-size: .87em;
  font-weight: 500;
  color: #963dc5;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 10px;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: rgba(#361549, .85);
  }
}

.icon-link {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: .78em;
  color: #666;
  margin: 5px;

  &:hover {
    background-color: transparent;
    box-shadow: 0 3px 23px rgba(#009ae5, .58), 0 0 5px 1px rgba(#009ae5, .3);
    color: #fff;
  }


  > img {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  &.big {
    width: 128px;
  }

  &.youtube {
    width: 100px;
    padding-bottom: 25px;
    border-radius: 63px;
    border: 1px solid #222;
    margin: 10px 15px;
    background-color: rgba(#222, .2);
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #009ae5;
      background-color: rgba(#009ae5, .1);
    }

    > * {
      position: relative;
    }

    > img {
      width: 100px;
      margin: 0 auto;
      border-radius: 50px;
    }

    > span {
      margin-top: 20px;
      font-weight: 400;
    }
  }

  &.box {
    border: 1px solid #333;
    background-color: rgba(#333, .3);

    &:hover {
      border-color: #009ae5;
      background-color: rgba(#009ae5, .1);
    }
  }
}

h1 {
  font-size: 3.5vw;
  text-transform: uppercase;

}

h2 {
  font-size: 2.15vw;
  color: #F1CA1A;
}

h3 {
  font-weight: 700;
}

.banner {
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temp-content {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(#000, .6);
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 45px;
}
