@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

html, body {
  font-family: 'Montserrat';
}

h1 {
  font-size: 3.5vw;
  text-trnsform: uppercase;
}
